<div class="modal" id="import-help" style="">
	<div class="alert alert-error">
    <a class="close" data-dismiss="modal">×</a>
    Please maintain your  file(.csv\.xls\.xlsx)  like this !</div>
<div id= "table_area">
	<table class="table table-striped table-bordered table-condensed">	
		<thead>
			<th>Appl.Component</th>
			<th>Description</th>
			<th>Original</th>
			<th>Dev.:Comp. Owner</th>
			<th>Dev.:Production Owner</th>
			<th>IMS: Manager</th>
		</thead>
		<tbody>
			<th>AC</th>
			<th>Accounting General</th>
			<th>EBJ</th>
			<th>DIRK AHLERT</th>
			<th>DIRK AHLERT</th>
			<th>KLAUS MOSER</th>
		</tbody>
		<tbody>
			<th>AC</th>
			<th>Accounting General</th>
			<th>EBJ</th>
			<th>DIRK AHLERT</th>
			<th>DIRK AHLERT</th>
			<th>KLAUS MOSER</th>
		</tbody>
		<tbody>
			<th>AC</th>
			<th>Accounting General</th>
			<th>EBJ</th>
			<th>DIRK AHLERT</th>
			<th>DIRK AHLERT</th>
			<th>KLAUS MOSER</th>
		</tbody>
		<tbody>
			<th>AC</th>
			<th>Accounting General</th>
			<th>EBJ</th>
			<th>DIRK AHLERT</th>
			<th>DIRK AHLERT</th>
			<th>KLAUS MOSER</th>
		</tbody>
	</table>
</div>
</div>