<div class="modal" id="import-help" style="">
	<div class="alert alert-error">
    <a class="close" data-dismiss="modal">×</a>
    Please maintain your CSV fiel  like this !</div>
<div id= "table_area">
	<table class="table table-striped table-bordered table-condensed">	
		<thead>
			<th>Package</th>
			<th>SoftwareComponent</th>
			<th>ApplicationComponent</th>
			<th>ChangePerson</th>
		</thead>
		<tbody>
			<th>UFCC</th>
			<th>AC</th>
			<th>AC-FIN</th>
			<th>Roam</th>
		</tbody>
		<tbody>
			<th>KIMC</th>
			<th>GRC</th>
			<th>AC-FIN</th>
			<th>Roam</th>
		</tbody>
		<tbody>
			<th>COAC</th>
			<th>AC</th>
			<th>AC-FIN</th>
			<th>Roam</th>
		</tbody>
		<tbody>
			<th>FAGI</th>
			<th>AC</th>
			<th>AC-FIN</th>
			<th>Roam</th>
		</tbody>
	</table>
</div>
</div>