<div class="alert alert-success">
	<button type="button" class="close" data-dismiss="alert">&times;</button>
	<%= notice%>
</div>
<% if @count != 0 %>
  <%= render "checkmen/result"%>
<% end%>
<%= link_to "Back", components_path%>
<%= content_for :rightside do%>
<div id="comment_area" ></div>
<% end%>