<h1>Import components</h1>
<fieldset>
	<legend>Please maintain your CSV fiel  like this !</legend>
	
	<table>	
		<thead>
			<th>Package</th>
			<th>SoftwareComponent</th>
			<th>ApplicationComponent</th>
			<th>ChangePerson</th>
		</thead>
		<tbody>
			<th>UFCC</th>
			<th>AC</th>
			<th>AC-FIN</th>
			<th>Roam</th>
		</tbody>
	</table>
</fieldset>

<fieldset>
	<legend>Import your File</legend>
	<%= form_tag :url=>{:action=>:upload},:html =>{:multipart => true} do%>
	<%= file_field_tag :file%>	
</fieldset>
    <%= submit_tag "Import"%>
    <% end %>    