/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.core
 *= require jquery.ui.theme
 *= require  dataTables/jquery.dataTables
 *= require_tree .
 */
 .small{
  margin-left: 8px;
 }
 #email_template_content{
  height: 320px;
  width: 750px;
 }
 #template_edit_area{
  margin-top:15px;
 }
 #link_menu{
  font-size: 140%;
  line-height: 150%;
 }
 .menu_image{
   background: url(sap-logo.png) no-repeat;
 }
 #T_mail_address{
   width: 450px;
 }
  #T_mail_cc_address{
    width: 450px;
  }
  #T_mail_subject{
    width: 431px;
  }
  #T_mail_content{
    width: 497px;
    height:245px;
  }
 .span13{
  width:1250px;
 }
 body{
   background-image:url("5752.png");
 }
 #create_form{
  display: none;
 }
 #component-import-form{
  display: none;
 }
 #person_right{
  margin-top: 100px;
 }
 #object_create_area{
  margin-bottom: 15px;
  margin-top: 30px;
 }
 #component-import-form{
  margin-top: 30px;
  margin-bottom: 15px;  
 }
 #create_form{
  margin-top: 30px;
  margin-bottom: 15px;
 }
 #left-side{
  overflow-y: auto;
 }
 #comment_area{
  position:absolute;
  display: block;
  padding: 5px;
  font-size: 11px;
  visibility: visible;
  margin-left: 3px;
 }
 #import-result{
  margin-top: 30px;
  display: none;
 }
 #import-help{
  display: none;
 }
 #myModal{
  display: none;
 }
 #import_body{
  display: none;
  margin-top: 30px;
  margin-bottom: 15px;
 }
 #table_area{
  overflow: auto;
 }
 a.more-icon {
  background: url(more.png) no-repeat right center;
  color: #126499;
  font-size: 12px;
  font-weight: bold;
  padding-right: 16px;
  cursor:pointer
}
a.more-icon.alt {
  background-image: url(more-dark.png);
  color: #000;
  line-height: 1.0em
}
#search_form{
  display: none;
  margin-top: 30px;
  margin-bottom: 15px;
}